# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android specific
/android/app/local.properties
/android/app/GeneratedPluginRegistrant.java
/android/key.properties
*.keystore
*.jks

# iOS specific
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/GeneratedPluginRegistrant.h
/ios/GeneratedPluginRegistrant.m
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/ephemeral/
/ios/ServiceDefinitions.json
/ios/Runner/GoogleService-Info.plist

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Environment variables
.env*

# Android Studio artifacts
/android/app/debug
/android/app/profile
/android/app/release
